body {
  background-color: #ccdbdc;
  font-family: Optima, sans-serif;
}
a {
  color: #63c7b2;
}
footer {
  border-top: 1px solid #ccdbdc;
  padding: 30px 0 0 0;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #ccdbdc;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.search-form-input {
  background-color: #ccdbdc;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: #8e6c88;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
.main-temp {
  text-align: center;
  font-size: 38px;
  line-height: 48px;
}
.icon {
  text-align: center;
}
.left {
  padding: 0px 100px 0px 0px;
}
.details {
  padding: 20px 0px 0px 0px;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-day {
  border-right: 1px solid #ccdbdc;
  border-left: 1px solid #ccdbdc;
  padding-left: 16px;
  padding-right: 15px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #8e6c88;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
